In [1]:
import pandas as pd

CPU times: user 272 ms, sys: 126 ms, total: 398 ms
Wall time: 732 ms

In [2]:
import numpy as np

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 5.96 µs

In [11]:
import os

In [4]:

df = pd.read_excel("2020_05_05_CAD_PRS_267-converted copy.xlsx")

CPU times: user 58.8 ms, sys: 5.81 ms, total: 64.6 ms
Wall time: 71.1 ms

In [5]:

df.head()

CPU times: user 259 µs, sys: 29 µs, total: 288 µs
Wall time: 280 µs

,rsID,Position,Effect\nAllele,P-value,Gene,Weight,r2,Genotyping,LD
0,rs2843152,1:2245570,C,0.000013,SKI,0.04240,0.78639,Imputed,NaN
1,rs35465346,1:22132518,G,0.000009,LDLRAD2,0.05465,0.84007,Imputed,NaN
2,rs7538207,1:22310674,C,0.000010,CELA3B,0.09848,0.84791,Imputed,NaN
3,rs11811081,1:32026584,C,0.000061,TINAGL1,0.07660,0.7599,Imputed,NaN
4,rs12733730,1:37023446,A,0.000011,CSF3R,0.04601,0.7836,Imputed,NaN

In [6]:

df.drop(["P-value", "Gene", "r2", "Genotyping","LD"], axis = 1, inplace = True)

CPU times: user 1.17 ms, sys: 109 µs, total: 1.27 ms
Wall time: 1.28 ms

In [7]:

df["Chromosome"] = df["Position"].str.split(":").str[0]
df["PositionNum"] = df["Position"].str.split(":").str[-1]

CPU times: user 3.69 ms, sys: 249 µs, total: 3.94 ms
Wall time: 3.83 ms

In [8]:

df = df.rename(columns= {"Effect\nAllele": "EffectAllele"})

CPU times: user 1.09 ms, sys: 102 µs, total: 1.19 ms
Wall time: 1.12 ms

In [9]:

import allel

CPU times: user 221 ms, sys: 68.8 ms, total: 290 ms
Wall time: 426 ms

In [9]:

callset = allel.read_vcf('220d9976-ebed-4ea1-8c09-46723ddac703.vcf.gz')

CPU times: user 2min 22s, sys: 38 s, total: 3min
Wall time: 3min 13s

In [10]:

sorted(callset.keys())

CPU times: user 7 µs, sys: 7 µs, total: 14 µs
Wall time: 16.7 µs

['calldata/GT',
 'samples',
 'variants/ALT',
 'variants/CHROM',
 'variants/FILTER_PASS',
 'variants/ID',
 'variants/POS',
 'variants/QUAL',
 'variants/REF']

In [11]:

genotype = callset['calldata/GT']

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 5.01 µs

In [12]:

array = genotype.squeeze()

CPU times: user 13 µs, sys: 69 µs, total: 82 µs
Wall time: 253 µs

In [13]:

VCFdf= pd.DataFrame.from_records(array)

CPU times: user 2min 5s, sys: 1min 9s, total: 3min 15s
Wall time: 3min 45s

In [14]:

VCFdf["Genotype"] = VCFdf[0].astype(str) + "/" + VCFdf[1].astype(str)

CPU times: user 1min 41s, sys: 55.6 s, total: 2min 37s
Wall time: 2min 57s

In [15]:

del VCFdf[1]
del VCFdf[0]

CPU times: user 265 ms, sys: 644 ms, total: 908 ms
Wall time: 1.32 s

In [16]:

VCFdf["VCFChrom"] = callset['variants/CHROM']
VCFdf["VCFPos"] = callset['variants/POS']
VCFdf["VCFid"] = callset['variants/ID']
VCFdf["VCFRef"] = callset['variants/REF']
VCFdf["VCFAlt"] = callset['variants/ALT'][:,0]

CPU times: user 5.79 s, sys: 26.4 s, total: 32.2 s
Wall time: 44.1 s

In [17]:

VCFdf.dtypes

CPU times: user 1.02 ms, sys: 7.26 ms, total: 8.28 ms
Wall time: 27.1 ms

Genotype    object
VCFChrom    object
VCFPos       int32
VCFid       object
VCFRef      object
VCFAlt      object
dtype: object

In [18]:

df.dtypes

CPU times: user 482 µs, sys: 418 µs, total: 900 µs
Wall time: 1.23 ms

rsID             object
Position         object
EffectAllele     object
Weight          float64
Chromosome       object
PositionNum      object
dtype: object

In [19]:

NewVCFdf = VCFdf.copy()

NewVCFdf['VCFChrom'] = NewVCFdf.VCFChrom.apply(str)
NewVCFdf['VCFPos'] = NewVCFdf.VCFPos.apply(str)
NewVCFdf.dtypes

CPU times: user 1min 10s, sys: 3min 35s, total: 4min 45s
Wall time: 12min 1s

Genotype    object
VCFChrom    object
VCFPos      object
VCFid       object
VCFRef      object
VCFAlt      object
dtype: object

In [20]:

NewVCFdf

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.25 µs

         Genotype VCFChrom     VCFPos        VCFid VCFRef VCFAlt
0             0/1        1      10177  rs367896724      A     AC
1             0/0        1      10235  rs540431307      T     TA
2             1/1        1      10352  rs555500075      T     TA
3             0/0        1      10505  rs548419688      A      T
4             0/0        1      10506  rs568405545      C      G
...           ...      ...        ...          ...    ...    ...
85184605      0/0        X  155260005            .      G    GGT
85184606      1/1        X  155260016            .      G    GTT
85184607      1/1        X  155260465            .     TG      T
85184608      1/1        X  155260472            .     TG      T
85184609      1/1        X  155260478            .      T    TTA

[85184610 rows x 6 columns]

In [21]:

df['Chromosome'] = df.Chromosome.apply(str)
df['PositionNum'] = df.PositionNum.apply(str)

CPU times: user 1.23 ms, sys: 2 ms, total: 3.23 ms
Wall time: 5.2 ms

In [22]:

df.dtypes

CPU times: user 202 µs, sys: 27 µs, total: 229 µs
Wall time: 233 µs

rsID             object
Position         object
EffectAllele     object
Weight          float64
Chromosome       object
PositionNum      object
dtype: object

In [23]:

new_df = df.merge(NewVCFdf, left_on=['Chromosome', 'PositionNum'], right_on=['VCFChrom', 'VCFPos'], how='inner')

CPU times: user 2min 12s, sys: 3min 31s, total: 5min 44s
Wall time: 8min 11s

In [24]:

new_df

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.01 µs

,rsID,Position,EffectAllele,Weight,Chromosome,PositionNum,Genotype,VCFChrom,VCFPos,VCFid,VCFRef,VCFAlt
0,rs2843152,1:2245570,C,0.04240,1,2245570,1/1,1,2245570,rs2843152,C,G
1,rs35465346,1:22132518,G,0.05465,1,22132518,0/0,1,22132518,rs35465346,G,A
2,rs7538207,1:22310674,C,0.09848,1,22310674,1/1,1,22310674,rs7538207,C,T
3,rs11811081,1:32026584,C,0.07660,1,32026584,0/0,1,32026584,rs11811081,C,A
4,rs12733730,1:37023446,A,0.04601,1,37023446,0/0,1,37023446,rs12733730,G,A
...,...,...,...,...,...,...,...,...,...,...,...,...
262,rs2836621,21:40054149,T,0.03312,21,40054149,0/0,21,40054149,rs2836621,C,T
263,rs9604969,22:19514013,A,0.06006,22,19514013,0/0,22,19514013,rs9604969,A,G
264,rs71313931,22:19960184,G,0.03938,22,19960184,0/1,22,19960184,rs71313931,C,G
265,rs12485143,22:24575333,C,0.06735,22,24575333,0/0,22,24575333,rs12485143,C,T
266,rs468224,22:29955252,A,0.04269,22,29955252,0/1,22,29955252,rs468224,A,G

In [25]:

score = []
for index, row in new_df.iterrows():
    if row["Genotype"] == "1/1" and row["VCFRef"] == row["EffectAllele"]:
        score.append(0)
    elif row["Genotype"] == "1/1" and row["VCFAlt"] == row["EffectAllele"]:
        score.append(2)
    elif row["Genotype"] == "0/0" and row["VCFRef"] == row["EffectAllele"]:
        score.append(2)
    elif row["Genotype"] == "0/0" and row["VCFAlt"] == row["EffectAllele"]:
        score.append(0)
    else:
        score.append(1)

print(len(score))

267
CPU times: user 36.7 ms, sys: 4.31 ms, total: 41 ms
Wall time: 44.8 ms

In [26]:

new_df["Score"] = pd.Series(score)
new_df

CPU times: user 1.03 ms, sys: 1.82 ms, total: 2.85 ms
Wall time: 4.56 ms

,rsID,Position,EffectAllele,Weight,Chromosome,PositionNum,Genotype,VCFChrom,VCFPos,VCFid,VCFRef,VCFAlt,Score
0,rs2843152,1:2245570,C,0.04240,1,2245570,1/1,1,2245570,rs2843152,C,G,0
1,rs35465346,1:22132518,G,0.05465,1,22132518,0/0,1,22132518,rs35465346,G,A,2
2,rs7538207,1:22310674,C,0.09848,1,22310674,1/1,1,22310674,rs7538207,C,T,0
3,rs11811081,1:32026584,C,0.07660,1,32026584,0/0,1,32026584,rs11811081,C,A,2
4,rs12733730,1:37023446,A,0.04601,1,37023446,0/0,1,37023446,rs12733730,G,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,rs2836621,21:40054149,T,0.03312,21,40054149,0/0,21,40054149,rs2836621,C,T,0
263,rs9604969,22:19514013,A,0.06006,22,19514013,0/0,22,19514013,rs9604969,A,G,2
264,rs71313931,22:19960184,G,0.03938,22,19960184,0/1,22,19960184,rs71313931,C,G,1
265,rs12485143,22:24575333,C,0.06735,22,24575333,0/0,22,24575333,rs12485143,C,T,2
266,rs468224,22:29955252,A,0.04269,22,29955252,0/1,22,29955252,rs468224,A,G,1

In [27]:

new_df = new_df[new_df['rsID'] == new_df['VCFid']].copy()

CPU times: user 1.79 ms, sys: 3.02 ms, total: 4.82 ms
Wall time: 9.72 ms

In [28]:
new_df

,rsID,Position,EffectAllele,Weight,Chromosome,PositionNum,Genotype,VCFChrom,VCFPos,VCFid,VCFRef,VCFAlt,Score
0,rs2843152,1:2245570,C,0.04240,1,2245570,1/1,1,2245570,rs2843152,C,G,0
1,rs35465346,1:22132518,G,0.05465,1,22132518,0/0,1,22132518,rs35465346,G,A,2
2,rs7538207,1:22310674,C,0.09848,1,22310674,1/1,1,22310674,rs7538207,C,T,0
3,rs11811081,1:32026584,C,0.07660,1,32026584,0/0,1,32026584,rs11811081,C,A,2
4,rs12733730,1:37023446,A,0.04601,1,37023446,0/0,1,37023446,rs12733730,G,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,rs2836621,21:40054149,T,0.03312,21,40054149,0/0,21,40054149,rs2836621,C,T,0
263,rs9604969,22:19514013,A,0.06006,22,19514013,0/0,22,19514013,rs9604969,A,G,2
264,rs71313931,22:19960184,G,0.03938,22,19960184,0/1,22,19960184,rs71313931,C,G,1
265,rs12485143,22:24575333,C,0.06735,22,24575333,0/0,22,24575333,rs12485143,C,T,2
266,rs468224,22:29955252,A,0.04269,22,29955252,0/1,22,29955252,rs468224,A,G,1

In [29]:

new_df["Score*Weight"] = new_df["Score"] * new_df["Weight"]

CPU times: user 930 µs, sys: 920 µs, total: 1.85 ms
Wall time: 2.95 ms

In [30]:
new_df

,rsID,Position,EffectAllele,Weight,Chromosome,PositionNum,Genotype,VCFChrom,VCFPos,VCFid,VCFRef,VCFAlt,Score,Score*Weight
0,rs2843152,1:2245570,C,0.04240,1,2245570,1/1,1,2245570,rs2843152,C,G,0,0.00000
1,rs35465346,1:22132518,G,0.05465,1,22132518,0/0,1,22132518,rs35465346,G,A,2,0.10930
2,rs7538207,1:22310674,C,0.09848,1,22310674,1/1,1,22310674,rs7538207,C,T,0,0.00000
3,rs11811081,1:32026584,C,0.07660,1,32026584,0/0,1,32026584,rs11811081,C,A,2,0.15320
4,rs12733730,1:37023446,A,0.04601,1,37023446,0/0,1,37023446,rs12733730,G,A,0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,rs2836621,21:40054149,T,0.03312,21,40054149,0/0,21,40054149,rs2836621,C,T,0,0.00000
263,rs9604969,22:19514013,A,0.06006,22,19514013,0/0,22,19514013,rs9604969,A,G,2,0.12012
264,rs71313931,22:19960184,G,0.03938,22,19960184,0/1,22,19960184,rs71313931,C,G,1,0.03938
265,rs12485143,22:24575333,C,0.06735,22,24575333,0/0,22,24575333,rs12485143,C,T,2,0.13470
266,rs468224,22:29955252,A,0.04269,22,29955252,0/1,22,29955252,rs468224,A,G,1,0.04269

In [31]:

def final_analysis():
    Observed_Score_Sum = new_df["Score"].sum()
    Maximum_Expected_Score_Sum = len(new_df)*2
    Observed_Weighted_Sum = new_df["Score*Weight"].sum()
    Maximum_Expected_Weight = new_df["Weight"].sum()
    Final_weighted_GRS = Observed_Weighted_Sum/Maximum_Expected_Weight
    Final_unweighted_GRS = Observed_Score_Sum/Maximum_Expected_Score_Sum
    Final_statements = "The total unweighted observed score is " + str(Observed_Score_Sum) + ". " + "The total unweighted maximum expected score is " + str(Maximum_Expected_Score_Sum) + ". " + "With the ratio of observed over maximum, the unweighted ratio score is " + str(Final_unweighted_GRS) + ". " + "The total weighted observed score is " + str(round(Observed_Weighted_Sum)) + "." +  "The total weighted maximum expected score is " + str(round(Maximum_Expected_Weight)) + ". " + "With the ratio of observed over maximum, the weighted ratio score is " + str(Final_weighted_GRS) + "."  
    return Final_statements

final_analysis()

CPU times: user 883 µs, sys: 2.71 ms, total: 3.59 ms
Wall time: 7.69 ms

'The total unweighted observed score is 230. The total unweighted maximum expected score is 534. With the ratio of observed over maximum, the unweighted ratio score is 0.4307116104868914. The total weighted observed score is 15.0.The total weighted maximum expected score is 22.0. With the ratio of observed over maximum, the weighted ratio score is 0.6894643862475976.'